@model IEnumerable<HealthyPawsV2.DAL.Inventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 style="text-align: center">Módulo de Inventario</h1>
</div>


<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir Producto o Medicamento</a>
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="searchInventory" name="searchInventory" class="form-control" style="width: 300px;" />
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary" style="margin-left: 75%">Buscar</button>
        </form>
        <p></p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.inventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availableStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.providerInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.inventoryId)
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.availableStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.provider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.providerInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.inventoryId" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.inventoryId" class="btn btn-secondary btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.inventoryId" class="btn btn-danger btn-sm BorrarElemento">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
<br />
<br />
