@model IEnumerable<HealthyPawsV2.DAL.PetFile>


<!--This is a Searh Bar to Look for the names of the Pets in case we want to find any specific of them-->
<div class="row" style="text-align: center;">
    <div class="col-md-6" style="margin: 0 auto;">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="searchPetFile" name="searchPetFile" class="form-control rounded-input" placeholder="Buscar expediente..." />
            </div>
        </form>
    </div>
</div>



<!--This is the Button that we use to Create New Pets-->

<div class="row ">
    <div class="col-md-6">
        @if (User.Identity.IsAuthenticated && (RolesUtils.LoggedUserRole(User, "Admin") || RolesUtils.LoggedUserRole(User, "Vet"))){
        <button type="button" class="btn colorButton" data-bs-toggle="modal" data-bs-target="#AbrirExpediente">Abrir Expediente</button>
            }
    </div>
        
    
</div>
<br />

<!--Table with results of the Pets we have in the System-->
<table class="table table-bordered">
    <thead class="color">
        <tr>
            <th class ="text-white">@Html.DisplayNameFor(model => model.First().petFileId)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.First().Owner.name)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.name)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.PetBreed.PetType.name)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.PetBreed.name)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.gender)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.age)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.weight)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.castration)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.description)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.status)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.creationDate)</th>
            <th class="text-white">@Html.DisplayNameFor(model => model.vaccineHistory)</th>
            <th class="text-white">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.petFileId)</td>
                <td>@Html.DisplayFor(modelItem => item.Owner.name)</td>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.PetBreed.PetType.name)</td>
                <td>@Html.DisplayFor(modelItem => item.PetBreed.name)</td>
                <td>@Html.DisplayFor(modelItem => item.gender)</td>
                <td>@Html.DisplayFor(modelItem => item.age)</td>
                <td>@Html.DisplayFor(modelItem => item.weight)<span> KG</span></td>
                <td>@Html.DisplayFor(modelItem => item.castration)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>
                <td>@Html.DisplayFor(modelItem => item.status)</td>
                <td>@Html.DisplayFor(modelItem => item.creationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.vaccineHistory)</td>
                <td>
                    <div class="d-flex" style="gap: 5px; margin-top: 2%">
                        <a asp-action="Details" asp-route-id="@item.petFileId" class="btn btn-secondary btn-sm">Detalles</a>

                        @if (User.Identity.IsAuthenticated && (RolesUtils.LoggedUserRole(User, "Admin") || RolesUtils.LoggedUserRole(User, "Vet")))
                        {
                            <a asp-action="Edit" asp-route-id="@item.petFileId" class="btn btn-primary btn-sm">Editar</a>
                            <a class="btn btn-danger btn-sm BorrarElemento" data-estado="@item.status" asp-action="Delete" asp-route-id="@item.petFileId">Eliminar</a>
                        }                      
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>


<!--In case there is no Pets under the name looked-->
@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
<br />
<br /> 


<!--This is the Modal for the New PetFiles we are going to create-->
<div class="modal fade" id="AbrirExpediente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Mascota</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" name="name" class="form-control" placeholder="Ej: Bolita" required />
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="ownerId">Seleccione al Dueño</label>
                                <select name="ownerId" class="form-control" required>
                                    <option value="" disabled selected>Seleccione al Dueño</option>
                                    @foreach (var user in ViewBag.Owners)
                                    {
                                        <option value="@user.Value">@user.Text</option>
                                    }
                                </select>
                                
                            </div>

                            <div class="form-group">
                                <label for="petTypeId">Tipo de Mascota</label>
                                <select name="petTypeId" class="form-control" required>
                                    <option value="" disabled selected>Seleccione el Tipo de Mascota</option>
                                    @foreach (var petType in ViewBag.PetTypes)
                                    {
                                        <option value="@petType.Value">@petType.Text</option>
                                    }
                                </select>
                                
                            </div>

                            <div class="form-group">
                                <label for="petBreedId">Raza de la Mascota</label>
                                <select name="petBreedId" class="form-control" required>
                                    <option value="" disabled selected>Seleccione la Raza de la Mascota</option>
                                    @foreach (var petBreed in ViewBag.PetBreeds)
                                    {
                                        <option value="@petBreed.Value">@petBreed.Text</option>
                                    }
                                </select>
                                
                            </div>

                            <div class="form-group">
                                <label for="gender">Género</label>
                                <select name="gender" class="form-control" required>
                                    <option value="" disabled selected>Seleccione el Género de la Mascota</option>
                                    <option value="Hembra">Hembra</option>
                                    <option value="Macho">Macho</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="age">Edad</label>
                                <input type="number" name="age" class="form-control" required />
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="weight">Peso</label>
                                <input type="number" name="weight" class="form-control" placeholder="KG" required />
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="vaccineHistory">Historial de Vacunas</label>
                                <input type="text" name="vaccineHistory" class="form-control" />
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="castration">Castración</label>
                                <select name="castration" class="form-control" required>
                                    <option value="" disabled selected>Seleccione el tipo de Castración</option>
                                    <option value="No">No</option>
                                    <option value="Ovariohisterectomía">Ovariohisterectomía</option>
                                    <option value="Orquiectomía">Orquiectomía</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="description">Descripción</label>
                                <input type="text" name="description" class="form-control" />
                                <span class="text-danger"></span>
                            </div>

                            <br />
                            <div class="form-group">
                                <input type="submit" value="Crear" class="btn colorButton" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>







