@model HealthyPawsV2.DAL.AppointmentInventory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AppointmentInventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.measuredose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.measuredose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventory.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Additional)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.appointmentInventoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
