@model IEnumerable<HealthyPawsV2.DAL.AppointmentInventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.measuredose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.measuredose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Additional)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.appointmentInventoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appointmentInventoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appointmentInventoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
