@model IEnumerable<HealthyPawsV2.DAL.AppointmentInventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 style="text-align: center">Módulo de Cita-Inventario</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir medicamentos de la Cita</a>
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="searchInvApp" name="searchInvApp" class="form-control" style="width: 300px;" />
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary" style="margin-left: 75%">Buscar</button>
        </form>
        <p></p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appointmentInventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.measuredose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inventoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.appointmentInventoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.measuredose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.AppointmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.appointmentInventoryId" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.appointmentInventoryId" class="btn btn-secondary btn-sm">Detalles</a>
                    <a class="btn btn-danger BorrarElemento" data-estado="@item.status" asp-action="Delete" asp-route-id="@item.appointmentInventoryId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>


@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
