@model IEnumerable<HealthyPawsV2.DAL.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
</style>

<div>
    <h1 style="text-align: center">Módulo de Citas</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir Cita</a>
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="searchPetType" name="searchPetType" class="form-control" style="width: 300px;" />
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary" style="margin-left: 75%">Buscar</button>
        </form>
        <p></p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.petFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ownerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diagnostic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Additional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.petFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diagnostic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Additional)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentId" class="btn btn-primary btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.AppointmentId" class="btn btn-secondary btn-sm">Detalles</a>
                <a class="btn btn-danger BorrarElemento" data-estado="@item.status" asp-action="Delete" asp-route-id="@item.AppointmentId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
