@model HealthyPawsV2.DAL.Document

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h4>Documento</h4>
<hr />

<div class="card">
    <div class="card-body">
        <h5 class="card-title">¿Estás seguro de que quieres eliminar este documento?</h5>

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AppointmentId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AppointmentId)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.petFileId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.petFileId)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.category)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.category)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.fileType)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.fileType)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.status)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.status)
            </dd>
        </dl>
    </div>

    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="documentId" />
            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
            <a asp-action="Index" class="btn btn-outline-secondary btn-sm ml-2">Atrás</a>
        </form>
    </div>
</div>
