@model IEnumerable<HealthyPawsV2.DAL.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<style>
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
</style>

<div>
    <h1 style="text-align: center">Módulo de Examenes</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir Examen</a>
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="searchPetType" name="searchPetType" class="form-control" style="width: 300px;" />
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary" style="margin-left: 75%">Buscar</button>
        </form>
        <p></p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.petFileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.AppointmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.petFileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.documentId" class="btn btn-primary btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.documentId" class="btn btn-secondary btn-sm">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.documentId" class="btn btn-danger btn-sm BorrarElemento">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
